.header_container {
  padding: 2rem 8rem;
  display: flex;
  background-color: #ffffff;
  border-bottom: 4px double #ececec;
}
.header_logo_container {
  width: 40%;
}
.header_nav_container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav {
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #413d3d;
  text-transform: uppercase;
}
